.bordered-div{
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
}
.mainDiv{
  padding: 100px;

}
.Fields{
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align elements vertically */
  margin-bottom: 20px; /* Add space between rows */
}
.grey-box {
  height: 25px;
  width: 100%;
  background-color: rgb(162, 174, 185);
  display: flex;
  justify-content:left;
  align-items: center;
  border: 1px solid black;
}
.address-text {
  color: rgb(8, 0, 0);
  font-weight: bold;
}
.secondDiv{
  padding-left: 200px;
  padding-right: 400px;
}
label {
  flex-basis: 40%; /* Adjust label width */
  text-align: right; /* Align label text to the right */
  margin-right: 20px; /* Add space between label and input */
}

input {
  flex-basis: 50%; /* Adjust input width */
  padding: 10px; /* Add padding for spacing inside input */
  border: 1px solid #ccc; /* Add border for input */
  border-radius: 4px; /* Add border radius for input */
  width: 350px;
  text-align: center;
}
.employeeBtn{
  display: inline-block;
  padding: 12px 24px;
  border: none;
  border-radius: 4px 25px 0 0;
  background-color: #f1f1f1;
  color: #333;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  width: 500px;
  border: 1px solid black;
}
.employeeBtn.clicked{
  background-color: #000000;
  border-bottom-color: transparent;
  cursor: default;
}
.employeeBtn:hover{
  background-color: rgb(216, 213, 213);
}
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black; /* Add border to the table */
  table-layout: fixed;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #080000; /* Add border to table cells */
  border-right: 1px solid #0a0000;
  width: 16.66%;
}

th {
  background-color: #f2f2f2;
}
.childTable{
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  
}
.childTD{
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: 16.66%;
}

.childTD input {
  width: 100%; /* Set input width to fill the table cell */
  box-sizing: border-box; /* Include padding and border in the input's width */
}
.btnChild{
  margin-top: 10px;
  padding: 8px 16px; /* Add padding to the buttons */
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.btnChild:hover{
  background-color: #0056b3;
}