<!DOCTYPE html>
<html lang="en" ng-app="profileApp">

<head>
  <meta charset="UTF-8">
  <title>Profile Page</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="profile.component.css">

</head>
<app-header></app-header>

<body>
  <div class="mainDiv">
    <div class="bordered-div">
      <button (click)="toggleButton(1)" id="myButton" class="employeeBtn">Employess</button>
      <button (click)="toggleButton(2)" class="employeeBtn">Depended</button>

      <div ng-controller="ProfileController">

        <div id="container1" [hidden]="!isContainer1Visible" style="padding-top: 50px;">
          <form ng-submit="saveProfile()">
            <div class="secondDiv">
              <div class="Fields">

                <div >
                  <label for="name">First Name:</label>
                  <input type="text" id="name" ng-model="profile.name" required>
                </div>
                <div>
                  <label for="email">Last Name:</label>
                  <input type="email" id="email" ng-model="profile.email" required>
                </div>
              </div>





              <div class="Fields">
                <div>
                  <label for="age">Email:</label>
                  <input type="number" id="age" ng-model="profile.age" required>
                </div>
                <div>
                  <label for="address">Phone:</label>
                  <input type="text" id="address" ng-model="profile.address" required>
                </div>
              </div>

              <div class="Fields">
                <div>
                  <label for="age">SSN:</label>
                  <input type="number" id="age" ng-model="profile.age" required>
                </div>
                <div>
                  <label for="address">Birth Date:</label>
                  <input type="text" id="address" ng-model="profile.address" required>
                </div>
              </div>
              <div>
                <label for="address">Hire Date:</label>
                <input type="text" id="address" ng-model="profile.address" required>
              </div>
            </div>
              
              <br>
              <div class="grey-box">
                <span class="address-text">Address</span>
              </div><br>
              <div class="secondDiv">
              <div class="Fields">
                <div>
                  <label for="age">Street:</label>
                  <input type="text" id="age" ng-model="profile.age" required>
                </div>
                <div>
                  <label for="address">State:</label>
                  <input type="text" id="address" ng-model="profile.address" required>
                </div>
              </div>

              <div class="Fields">
                <div>
                  <label for="age">City:</label>
                  <input type="text" id="age" ng-model="profile.age" required>
                </div>
                <div>
                  <label for="address">Postal Code:</label>
                  <input type="text" id="address" ng-model="profile.address" required>
                </div>
              </div>
              
            </div>

          </form>
        </div>


        <div id="container2" [hidden]="!isContainer2Visible" style="padding-top: 20px;">
         
         <!--<table>
            <tr border="1px">
              <th>ID</th>
              <th>Name</th>
              <th>UserName</th>
              <th>Email-Id</th>
              <th>Contact Number</th>
            </tr>
            <tr *ngFor="let user of userData">
              <td>{{user.id}}</td>
              <td>{{user.name}}</td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>{{user.phone}}</td>
            </tr>
          </table>--> 


          <table class="childTable">
            <thead>
              <tr>
                <th class="childTD">First Name</th>
                <th class="childTD">Last Name</th>
                <th class="childTD">SSN</th>
                <th class="childTD">Birthdate</th>
                <th class="childTD">Relationship</th>
                <th class="childTD">Sex</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let person of persons">
                <td class="childTD">{{ person.firstname }}</td>
                <td class="childTD">{{ person.lastname }}</td>
                <td class="childTD">{{ person.SSN }}</td>
                <td class="childTD">{{ person.birthdate }}</td>
                <td class="childTD">{{ person.relationship }}</td>
                <td class="childTD">{{ person.sex }}</td>
              </tr>
              <tr *ngIf="showAddRow">
                <td class="childTD"><input type="text" [(ngModel)]="newPerson.firstname" placeholder="First Name"></td>
                <td class="childTD"><input type="text" [(ngModel)]="newPerson.lastname" placeholder="Last Name"></td>
                <td class="childTD"><input type="text" [(ngModel)]="newPerson.SSN" placeholder="000-0000"></td>
                <td class="childTD"><input type="date" [(ngModel)]="newPerson.birthdate" placeholder="Birthdate"></td>
                <td class="childTD"><input type="text" [(ngModel)]="newPerson.relationship" placeholder="Relationship"></td>
                <td class="childTD"><input type="text" [(ngModel)]="newPerson.sex" placeholder="Sex"></td>

              </tr>
            </tbody>
          </table>
          
          <button (click)="addRow()" *ngIf="!showAddRow" class="btnChild">Add Row</button>
          <button (click)="saveData()" *ngIf="showAddRow" class="btnChild">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;
          <button (click)="cancelAdd()" *ngIf="showAddRow" class="btnChild">Cancel</button>
          

          
        </div>
      </div>
      <br><br>
    </div>
  </div>


</body>
<script>
  const button = document.getElementById('myButton');

button.addEventListener('click', function() {
  button.classList.toggle('clicked');
});
</script>

</html>


