.ForgetPasscontainer {
  width: 700px;
  margin-left: 0;
  padding-left: 250px;
  padding-top: 150px;
  padding-right: 30px;
  padding-bottom: 50px;
  
}
.ForgetPassborContainer{
  border: 1px solid #000800;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 30px;
  border-radius: 10px;
}

.setPass {
  text-align: center;
  margin-bottom: 20px;
}

.ForgetPassform-group {
  margin-bottom: 20px;
}

label.required {
  display: block;
  font-weight: bold;
}


input[type="password"],
select,
button {
  width: 100%;
  padding: 8px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

button {
  background-color: #94bff1;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #137adb;
  color: rgb(80, 78, 78);
}

button:focus {
  outline: none;
}



.ForgetPassrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  flex: 50%;
  padding: 100px;
}

.security-question {
  width: calc(100% + 15px);
  box-sizing: border-box;
}
button{
  width: calc(100% + 17px);
  box-sizing: border-box;
}
.row{
  display: flex;
}
.column{
  padding: 50px;
}
.imageCls{
  padding-top: 100px;
  width:600px;
}