<!DOCTYPE html>
<html ng-app="BGLoginPortal" ng-controller="ForgetPassController">

<head>
    <title>Forget Password</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <link rel="stylesheet" type="text/css" href="forget-password.component.css">
</head>

<body>
    <div class="container">
        <div class="form-section">
            <h2 class="tittlePass">Please enter your email address to reset password</h2>
            <form>
                <div class="form-group">
                    <div class="email">
                    <label for="email">Email:</label>
                    <input type="email" id="email" placeholder="Enter your email" required>
                </div>
                </div>
                <br/>
                <br/>
                <div class="resetButton">
                    <button class="buttonStyle" >Reset </button>
                    &nbsp;&nbsp;
                    <button class="cancelStyle" ng-click="cancelClick()"><a  [routerLink]="['/loginPage']">Cancel</a></button>
                </div>
                

                
            </form>
        </div>
        <div ng-view></div>
    </div>
    <script>
        angular.module('BGLoginPortal')
  .controller('ForgetPassController', function($scope, $location) {
    $scope.cancelClick = function() {
      $location.path('/appCompo');
    };
  });
    </script>
</body>

</html>