<div class="ForgetPassrow">
    <script>


    </script>
    <div class="coloum">
        <div class="ForgetPasscontainer">


            <div class="ForgetPassborContainer">
                <h1 class="setPass">Set Password</h1>
                <form (ngSubmit)="changePassword()">
                    
                    <div class="ForgetPassform-group">
                        <label for="newPassword" class="required">New Password</label>
                        <input type="password" id="newPassword" name="newPassword" required [(ngModel)]="newPassword">
                    </div>
                    <div class="ForgetPassform-group">
                        <label for="confirmPassword" class="required">Confirm New Password</label>
                        <input type="password" id="confirmPassword" name="confirmPassword" required
                            [(ngModel)]="confirmPassword">
                        <div class="error-message" *ngIf="newPassword !== confirmPassword">Passwords do not match!</div>
                    </div>
                    <div class="ForgetPassform-group">
                        <label for="securityQuestion">Security Question</label>
                        <div>
        
                            <div>
                                <select id="securityQuestion" name="securityQuestion" [(ngModel)]="securityQuestion"
                                    class="security-question">
                                    <option value="1">In what city were you born?</option>
                                    <option value="2">What is your mother's maiden name?</option>
                                    <option value="3">What is your pet's name?</option>
                                    <option value="4">What was your childhood nickname?</option>
                                    <option value="5">In what city did you meet your spouse/significant other?</option>
                                    <option value="6">What is the name of your favorite childhood friend?</option>
                                    <option value="7">In what city was your first job?</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="ForgetPassform-group">
                        <label for="securityAnswer">Security Answer</label>
                        <input type="text" id="securityAnswer" name="securityAnswer" [(ngModel)]="securityAnswer">
                    </div>
        
                    <button type="submit" (click)="ChngePass()">Change Password</button>
                </form>
            </div>
        </div>
    </div>
    <div class="coloum">
        <img src="https://img.freepik.com/free-vector/forgot-password-concept-illustration_114360-1123.jpg?w=2000" class="imageCls">
    </div>
</div>

